<div *ngIf="loggedIn()">
  <mat-form-field appearance="none">
    <mat-label
      >Welcome {{ authService.decodeToken?.unique_name | titlecase }}</mat-label
    >
    <mat-select>
      <mat-option>
        <i class="material-icons">account_circle</i>
        Edit Profile
      </mat-option>
      <mat-divider></mat-divider>
      <mat-option (click)="logout()">
        <i class="material-icons">logout</i>
        Logout
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div *ngIf="!loggedIn()">
  <button mat-button  (click)="navToLogin()" class="mat-raised-button" type="submit"><i class="material-icons">login</i>Login</button>
</div>
