<div fxLayout="row">
  <div
    fxLayout="row wrap"
    fxFlexFill
    fxLayoutGap="20px grid"
  >
    <div fxFlex="90">
      <h3>Orders</h3>
    </div>
    <div fxFlex="10" fxLayoutAlign="center top">
      <button *ngIf="ordersFromEmployee" mat-button (click)="refreshOrders()">Show all orders</button>
    </div>
  </div>
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="orderId">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Order ID
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.orderId }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="orderDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Order date
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{
        element.orderDate | germanDateFormat
      }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="shipVia">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Chipped via
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.shipVia }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="shipAddress">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Chip address
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.shipAddress }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-button (click)="openDialog(element.orderId)">
          <i class="material-icons">edit</i>
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="employee">
      <mat-header-cell *matHeaderCellDef> Employee </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button
          mat-button
          (click)="openDialogEmployeeDetails(element.employeeId)"
        >
          <i class="material-icons">account_circle</i>
          {{ element.employee.lastName }}
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  ></mat-paginator>
</div>
